<div class="form-row">
	<label class="form-item">
		Title
		<input type="text" name="title" value="<%= book.title %>" />
	</label>
	<!-- <div class="form-item"> -->
	<label class="form-item">
		Author
		<select name="author">
			<% authors.forEach(author => { %>
			<!--  -->
			<% if(author.id === book.author) { %>
			<option selected value="<%= author.id %>" label="<%= author.name %>"></option>
			<% } else { %>
			<option value="<%= author.id %>" label="<%= author.name %>"></option>
			<% } %> <% }) %>
		</select>
	</label>
	<!-- </div> -->
</div>

<div class="form-row">
	<label class="form-item">
		Publish Date
		<input
			type="date"
			name="publishDate"
			value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"
		/>
	</label>
	<label class="form-item">
		Page Count
		<input type="number" name="pageCount" min="1" value="<%= book.pageCount %>" />
	</label>
</div>

<div class="form-row">
	<label class="form-item form-item-no-grow">
		Cover
		<input type="file" name="cover" class="filepond" />
	</label>
	<label class="form-item">
		Description
		<textarea name="description" cols="30" rows="10"><%= book.description %></textarea>
	</label>
</div>
